<div class="p-grid p-mx-0">
  <div class="p-col-12 p-sm-6 p-md-5 p-px-0 p-pb-0">
    <div class="text-part">
      <app-content-view [isContentLoading]="isSceneLoading"></app-content-view>
      <div class="text-footer p-ai-center p-text-right">
        <button class="p-button p-button-text p-button-icon p-button-rounded p-mr-4"
                icon="pi pi-angle-left"
                label="Back"
                [disabled]="scene?.isFirst"
                (click)="showPrevious()"
                pRipple
                pButton
        ></button>
        <button class="p-button p-button-icon p-button-rounded p-mr-4"
                icon="pi pi-angle-double-right"
                label="Next"
                (click)="showNext()"
                *ngIf="!scene?.isLast; else finishButton"
                pRipple
                pButton
        ></button>
        <ng-template #finishButton>
          <button class="p-button p-button-icon p-button-rounded p-mr-4"
                  icon="pi pi-check"
                  label="Finish"
                  (click)="finish()"
                  pRipple
                  pButton
          ></button>
        </ng-template>
      </div>

    </div>
  </div>
  <div class="p-col-12 p-sm-6 p-md-7 p-px-0 p-pb-0">
    <div class="visualization-part">
      <app-visualization-view></app-visualization-view>
    </div>
  </div>
</div>

