.text-part {
  align-items: stretch;
  background-color: #111111;
  height: 93vh;
  position: relative;
  z-index: 0;
}

.text-footer {
  position: absolute;
  background-color: #262626;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  bottom: 0;
  width: 100%;
  height: 9vh;
  z-index: 1000;
}

.visualization-part {
  align-items: stretch;
  height: 93vh;
  position: relative;
}
