<div class="p-grid scenario-grid p-justify-center">
  <div class="p-col-12 p-sm-6 p-md-4 p-xl-3" *ngFor="let scenario of scenarios">
    <div class="clickable-card"
         (click)="visualize($event, scenario)"
         pRipple>
      <p-card [header]="scenario.name">
        <ng-template pTemplate="header">
          <img [alt]="scenario.name + ' cover'" [src]="scenario.cover">
        </ng-template>
        <p>{{scenario.description}}</p>
        <ng-template pTemplate="footer">
          <div class="p-text-right">
            <button class="p-button p-button-rounded"
                    label="Visualize"
                    icon="pi pi-eye"
                    (click)="visualize($event, scenario)"
                    pButton
            ></button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
  <div class="p-col-12 p-sm-6 p-md-4 p-xl-3">
    <p-card class="soon-card" header="Soon...">
      <ng-template pTemplate="header">
        <img alt="Soon cover" src="scenarios/soon-cover.png">
      </ng-template>
      <p>More coming coon</p>
      <ng-template pTemplate="footer">
        <div class="p-text-right">
          <button class="p-button p-button-rounded" label="Visualize" icon="pi pi-eye" disabled pButton></button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
