<div>
  <div class="visualization-content" [style]="{width: '100%', height: isVisualizationLoading ? 0 : '100%'}"
       #canvas></div>
  <div [style]="{width: '100%', height: '100%'}" *ngIf="isVisualizationLoading" #skeleton>
    <p-skeleton width="100%" height="100%"></p-skeleton>
  </div>
  <div class="visualization-footer">
    <div class="p-d-flex p-flex-row">
      <button class="p-button p-button-info p-button-icon p-button-rounded p-mb-2"
              icon="pi pi-clock"
              label="Speed"
              (click)="op.toggle($event)"
              pRipple
              pButton
      ></button>
    </div>
    <p-overlayPanel [showCloseIcon]="true" appendTo="body" #op>
      <ng-template pTemplate>
        <p-inputNumber [min]=".5" [max]="3" mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="1"
                       [(ngModel)]="speed"></p-inputNumber>
        <p-slider [min]=".5" [max]="3" [step]=".1" [(ngModel)]="speed"></p-slider>
      </ng-template>
    </p-overlayPanel>
  </div>
</div>
