.visualization-content {
  height: 100%;
}

.visualization-footer {
  position: absolute;
  padding-top: 1rem;
  background-color: #2f2f2f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: auto;
}

.visualize-button {
  font-size: .7rem;
  font-weight: 500;
  margin: 2px;
  padding: 2px;
}

::ng-deep .canvas {
  font-family: 'Courier New', sans-serif;
  font-weight: 500;
}

::ng-deep .canvas text {
  user-select: none;
  pointer-events: none;
}
